@mixin tokens {
    --GRID-GAP-BASE: 0;
    --GRID-GAP-MOBILE: 0.5rem;
    --GRID-GAP-TABLET: 1rem;
    --GRID-GAP-DESKTOP: 2rem;

    --GRID-COLUMNS-BASE: 1;
    --GRID-COLUMNS-MOBILE: 4;
    --GRID-COLUMNS-TABLET: 8;
    --GRID-COLUMNS-DESKTOP: 12;
}